body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/* background-color: #f4f4f4;
margin: 0;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale; */

#root {
    display: block;
}

#register-form, #login-form, #product-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.form-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.form-container h2 {
    text-align: center;
    color: #333;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 6px;
    color: #333;
    text-align: left;
}

.form-container .span-toggle {
    margin-top: 10px;
    text-align: right;
}

.form-container span {
    color: #3498db;
    text-decoration: underline;
}

.form-container span:hover {
    cursor: pointer;
}

.form-container input, select {
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container .submit-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container .submit-button:hover {
    background-color: #2184c6;
}

.form-container .span-toggle {
    margin-top: 10px;
    text-align: right;
}

.form-container span {
    color: #3498db;
    text-decoration: underline;
}

.form-container span:hover {
    cursor: pointer;
}

.navbar {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #263e4e;
    color: #fff;
}

.left-section {
  display: flex;
  align-items: center;
}

.left-section span {
  margin-right: 10px;
}

.left-section a {
  color: #fff;
  margin-right: 20px;
  text-decoration: none;
}

.center-section {
  flex-grow: 1;
  text-align: center;
}

.logo {
  margin: 0;
}

.right-section {
  display: flex;
  align-items: center;
}

.cart-button {
  background-color: #dbe2e2;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  text-decoration: none;
}

#logout-btn {
  background-color: #98998e;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}

.product {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px; 
  width: 200px;
}

.product:hover {
  cursor: pointer;
  background-color: #dbe2e2;
}

.search-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.search-bar {
  flex: 1; /* Take up remaining space */
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 5px;
  margin-right: 10px;
}

.search-input {
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 5px;
  margin-right: 10px;
}

.filter-dropdown {
  padding: 8px;
  margin-right: 10px;
}

.search-button {
  background-color: #263e4e;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #223746;
}

/* ProductDetails.css */
.product-details {
  display: flex;
  justify-content: center;
  align-items: center; /* Center along both main and cross axes */
}

.product-details-container {
  display: flex;
  border: 2px solid #263e4e; /* Border color */
  border-radius: 10px; /* Border radius for curves */
  overflow: hidden; /* Hide overflow to avoid content extending beyond curves */
  width: 40%;
  padding: 10px;
  align-items: center;
  margin-top: 50px;
}

.product-details-image {
  flex: 1;
  padding: 8px;
  /* object-fit: cover; */
}

.product-details-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  justify-content: center;
}

.product-details-title {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 5px;
}

.product-details-field {
  display: flex;
  margin-bottom: 8px;
}

.product-details-label {
  font-weight: bold;
  font-size: 30px;
  margin-right: 5px;
}

.product-details-value {
  font-size: 30px;
  color: #333;
}

.product-details-info-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* AddBasket.css */
.add-basket-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-basket-input {
  width: 100%;
  height: 100%;
  margin: 10px;
}

.add-basket-button {
  background-color: #263e4e;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-basket-button:hover {
  background-color: #1a2e3d;
}

@import url('https://css.gg/css?=|trash');
.gg-trash {
  color: rgba(224,26,79,1);
}

.gg-trash:hover {
  cursor: pointer;
}


/* Shopping Cart */

.shopping-cart {
  width: 40%;
  /* height: 423px; */
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
 
  display: flex;
  flex-direction: column;
}

.shopping-cart-title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}

.shopping-cart-order-button {
  display: flex;
  justify-content: center;
}

.shopping-cart-order-button button {
  background-color: #263e4e;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
 
.shopping-cart-item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}
 
/* .shopping-cart-item:first-child {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
} */

/* .shopping-cart-item:last-child {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
} */

.shopping-cart-buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}
.shopping-cart-delete-btn,
.shopping-cart-minus-btn,
.shopping-cart-plus-btn {
  display: inline-block;
  Cursor: pointer;
}

.shopping-cart-delete-btn {
  width: 24px;
  height: 24px;
  background: url(../../public/delete.svg) no-repeat center;
  background-size: contain; /* Scale down the background image to fit within the box */
}

.shopping-cart-plus-btn,
.shopping-cart-minus-btn {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: x-large;
  background-color: #f4f4f4; /* Background color */
  border: 1px solid #ccc; /* Border color */
  border-radius: 50%; /* Circular border */
  transition: background-color 0.3s, color 0.3s; 
}

.shopping-cart-plus-btn {
  margin-left: 10px;
}

.shopping-cart-minus-btn {
  margin-right: 10px;
}

.shopping-cart-image {
  margin-right: 50px;
}
 
.shopping-cart-image img{
  cursor: pointer;
}

.shopping-cart-description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}
 
.shopping-cart-description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}
 
.shopping-cart-description span:first-child {
  margin-bottom: 5px;
  font-size: large;
  font-weight: bold;
}
.shopping-cart-description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

.shopping-cart-quantity {
  position: relative;
  display: block;
  padding-top: 20px;
  margin-right: 60px;
}
 
shopping-cart button:focus,
shopping-cart input:focus {
  outline:0;
}

.shopping-cart-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

.shopping-cart-total-price {
  width: auto;
  padding: 6px;
  text-align: right;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

.stock-update-button {
  background-color: #263e4e;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.stock-update-button:hover {
  background-color: #223746;
}

.product-delete-button {
  background-color: #f44336;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.product-delete-button:hover {
  background-color: #d32f2f;
}

.number-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

.order-tab-container {
  width: 40%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  background-color: whitesmoke; /* Change background color to white */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'Arial', sans-serif; /* Use a preferred font family */
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-id {
  font-weight: bold;
  font-size: 1.2em; /* Increase font size for order ID */
}

.order-status {
  font-weight: bold;
  color: #333; /* Darken text color for better visibility */
}

.order-products {
  list-style-type: none;
  padding: 0;
}

.order-product {
  margin-bottom: 5px;
}

.order-total-price {
  color: black;
  font-weight: bold;
  margin-top: 10px;
  font-size: 1.1em; /* Adjust font size for total price */
}